.story-thumbnail {
    background-color: black;
    color: white;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

*[class*='col-'] {
    padding-top: .75em;
    padding-bottom: .75em;
}

.story-thumbnail-image,
.story-thumbnail-gradient {
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.story-thumbnail-gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(187, 187, 187, 0) 75%);
    opacity: .6;
    transition: opacity .4s;
}

.story-thumbnail-gradient:hover {
    opacity: 1;
}

.story-thumbnail-description {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}

.story-thumbnail-description h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.story-thumbnail-description h3 {
    text-transform: lowercase;
    font-style: italic;
    font-family: serif;
    font-size: 1rem;
}

.story-thumbnail-description a {
    text-decoration: none;
    color: white;
}

.story-thumbnail.empty {
    background-color: whitesmoke;
}