.story-cover {
    color: white;
    font-weight: 400;
    background-color: black;
    text-align: center;
    padding: 0 !important;
    margin: 0 0 3vh 0 !important;
}

.story-cover .container {
    height: 100vh;
}

.story-cover a {
    text-decoration: none;
    color: white;
}

.story-cover a:hover {
    color: rgb(204, 204, 204);
}

.cover-photo {
    width: 100%;
    position: absolute;
    background-size: cover;
    height: 100%;
    background-position: center;
    opacity: .5;
}

.story-title-wrapper {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    padding-bottom: 3em;
}

.story-title-wrapper h1 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
    .story-title-wrapper h1 {
        font-size: 64px;
    }
    .story-title-wrapper h2 {
        font-size: 32px;
    }
}

.story-title-wrapper h2 {
    color: white;
    font-style: italic;
    font-family: serif;
}

.author-details {
    position: absolute;
    bottom: 3%;
    font-size: 18px;
    letter-spacing: 2px;
}

.author-details img {
    padding-bottom: 1em;
}

.author-name {
    text-transform: uppercase;
    font-weight: 700;
}